* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.single-container {
  width: 70%;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border: 0;
  width: 200px;
  height: 40px;
  background-color: #0282F9;
}

li {
  text-transform: uppercase;
}

header {
  width: 100%;
}

header .blue-stripe {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #0282F9;
}

header .blue-stripe .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .blue-stripe ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

header .blue-stripe ul li {
  color: white;
  margin-left: 40px;
}

header nav {
  height: 100px;
  display: flex;
  align-items: center;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul li a {
  color: yellow;
  text-decoration: none;
}

header .jumbotron {
  width: 100%;
  height: 400px;
  background-image: url("/images/jumbotron.jpg");
}

.main {
  width: 100%;
  background-color: #303030;
}

.main .series {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  background-color: #0282F9;
  position: relative;
  top: -20px;
}

.main .card-wrapper {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.main .card-wrapper .card {
  width: calc(100%/6 - 20px);
  margin: 20px 10px;
  text-decoration: none;
  color: white;
}

.main .card-wrapper .card h5 {
  margin-top: 20px;
}

.main .thumb img {
  max-height: 200px;
  width: 100%;
}

.single-main .view-gallery {
  position: relative;
  top: -250px;
}

.single-main .single-blue-stripe {
  width: 100%;
  height: 100px;
  background-color: #0282F9;
}

.comic-info h2 {
  font-size: 35px;
  margin-bottom: 15px;
}

.comic-info table {
  border-spacing: 0;
}

.comic-info table thead {
  background-color: green;
  font-size: 20px;
  color: white;
}

.comic-info table thead th {
  height: 50px;
}

.comic-info table tr td {
  font-size: 18px;
  line-height: 1.5;
}

.adv {
  margin-top: 100px;
  padding: 30px;
}

