body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 20%;
}

header {
  width: 100%;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li a {
  display: inline;
  color: yellow;
  text-decoration: none;
}

